<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>Coronavirus defenders</h1>
    <link rel="stylesheets" href="public/stylesheets/style.css">
</head>
<style>
    * {
        padding: 0;
        magin: 0;
        list-style: none;
    }
    #box{
        width: 240px;
        margin: 100px auto;
    }
    ul{
        margin-top: 20px;
    }
    li{
        width: 240px;
        height: 50px;
        line-height: 50px;
        border-bottom: 1px #3498db;
        margin-top: 20px;
    }
    a{
        float: right;
        text-decoration: none;
    }
</style>
<body>
    <div id="box">
        <input type="text" name="" id="t1">
        <input type="button" value="send" id="btn">

        <ul>



        </ul>
    </div>
</body>

<script>
    var oT=document.getElementById('t1');
    var btn=document.getElementById('btn');
    var oU1=document.querySelector('ul');

    btn.onclick=function() {
        var answer=oT.value();

        if(answer==='') {
            alert("Please write something.");
        }else{
            //save comments
            var oLi=document.createElement('li');
            oLi.innerHTML=answer+'a href="javaScript::">delete</a>';
            //add new comments at the beginning
            oU1.insertBefore(Oli,oU1.children[0]);
        }
        var del=document.querySelector('a');
        del.onclick=function () {
            if(wnidow.confirm("Are you sure to delete?")){
                oU1.removeChild(oLi);
            }
        }
    }
</script>
</html>
