<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <title>Coronavirus defenders</title>
    <link rel="stylesheet" type="text/css" href="public/stylesheets/style.css">
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
<div class="box">
    <div class="content">
        <div class="text">
            <label for="message">comment list</label>
        </div>
        <div class="text" style="margin-left:-75px">
            <label for="name">name: </label>
            <input type="text" id="name" value="new user" class="txt">
        </div>
        <div class="text">
               <textarea rows="5" cols="30" id="message" value="" class="txt">
               </textarea>
        </div>
        <div class="btn">
            <button id="btn1">send</button>
        </div>
    </div>
    <h3 style="clear:right">Comment list</h3>
    <hr/>
    <div class="messageList" id="messageList">
    </div>
</div>
</body>
</html>
