<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coronavirus defenders</title>
    <link rel="stylesheet" href="public/stylesheets/style.css">
</head>

<h1>User Login</h1>

<!--<body data-gr-c-s-loaded="true">-->
<!--<h1>Login</h1>-->
<!--<form method="post" action="/user-login/">-->
<!--    "Username"-->
<!--    <input type="username" name="username" required>-->
<!--</form>-->
<!--</body>-->
<body>
<div class="login-box">
    <h1>Login</h1>
    <div class="textbox">
        <label>
            <input type="text" placeholder="Username" name="" value="">
        </label>
    </div>

    <div class="textbox">
        <label>
            <input type="password" placeholder="Password" name="" value="">
        </label>
    </div>
    <input class="btn" type="button" name="" value="Sign in">
    <div id="Footer" style="background-color: cornflowerblue; clear: both; text-align: center;">
    </div>
</div>
</body>
</html>
