<!DOCTYPE html>
<html lang="en">
<head>
    <title>Comment System</title>
    <link href='./public/stylesheets/commentPage.css' type='text/css' rel='stylesheet'/>
</head>
<body>
<div class="form">
    <h5>Add Comment</h5>
    Name: <label for="name"></label><input type="text" id="name" /><br /><br />
    Date: <label for="date"></label><input type="text" id="date" /><br /><br />
    Body: <label for="bodyText"></label><textarea rows="5" cols="30" id="bodyText"></textarea>
    <input type="button" id="addComment" value="Add Comment" />
</div>

<div id='container'>
</div>

</body>
</html>