<!DOCTYPE html>
<html lang="en">
<head>
    <title>Comment System</title>
    <link href='./public/stylesheets/commentPage.css' type='text/css' rel='stylesheet'/>
</head>
<body>
<div class="form">
    <h5>Add Comment</h5>
    Name: <input type="text" id="name" /><br /><br />
    Date: <input type="text" id="date" /><br /><br />
    Body: <textarea rows="5" cols="30" id="bodyText"></textarea>
    <input type="button" id="addComment" value="Add Comment" />
</div>

<div id='container'>
    <div class='commentBox'>
        <div class='leftPanelImg'></div>
        <div class='rightPanel'><span>Hongyi</span>
            <div class='date'>10 Apr,2020</div>
            <p>this is comment 1</p></div>
        <div class='clear'></div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src='./controllers/commentController.js' type='text/javascript'></script>

</body>
</html>