extends default

block content

    div.box
        h3 Comment Box
        form(method='POST' action='/comment')
            div
                label(for='username') User :&nbsp&nbsp
                input(type='text', placeholder='username' name='username' id='username' value="")
                br
            div
                label(for='date') Date :&nbsp
                input(type='date',id='date' value="")
                br
                br
            div
                label(for='content') Body:&nbsp
                textarea(type='text' rows="5" cols="30" id='content')
                br
                br
            button(type='submit') Add Comment
    div.list
        h3 Comment List
            each comment in comments
                div.left
                div.right
                    p
                        |#{comment.username} :
                        br
                        br
                        |&nbsp&nbsp&nbsp&nbsp#{comment.content}
