extends default

block content

    div.main
        table
            tr
                th username
                th comment

            each comment in comments
                tr
                    td
                        a(href='/addComment/' + comment.username) #{comment.username}
                    td #{comment.content}
