extends default

block content

    div.box
        h3 Comment Box
        form(method='POST' action='/comment')
            div
                label(for='username') Nickname:&nbsp&nbsp
                input(type='text', placeholder='username' name='username' id='username' value="")
                br
            div
                label(for='content') Your Comment:
                input(type='text', placeholder='content' name='content' id='content' value="")
                br
            button(type='submit') Add Comment
    div.list
        h3 Comment List
            each comment in comments
                div.left
                div.right
                    p
                        |#{comment.username}:
                        br
                        br
                        |#{comment.content}
