extends default

block content

    div.main
        div
            center
                table.content
                    tr
                        th ID
                        th Country Name
                        th Confirmed Case Num


                        each country in countries
                            tr.tbody
                                td #{country.id}
                                td #{country.country_name}
                                td #{country.confirmed_case}


