extends default

block content

    div.main
        div
            center
                table
                    tr
                        th ID
                        th Country Name
                        th Confirmed Case Num

                        each country in countries
                            tr
                                td #{country.id}
                                td #{country.country_name}
                                td #{country.confirmed_case}


