<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <!--    <link rel="stylesheet" type="text/css" href="public/stylesheets/worldmap.css" />-->
    <script src="mapdata.js"></script>
    <title>World Map</title>
</head>

<body>

<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=cc9b5116b54c2be17a209bf1b0fbacea"></script>
<script type="text/javascript" src="http://webapi.amap.com/loca?v=1.3.2&key=cc9b5116b54c2be17a209bf1b0fbacea"></script>
<!--    <script type="text/javascript" src="routes/mapdata.js"></script>-->
<!--    <script type="text/javascript" src="routes/InfoWin.js"></script>-->

<div id="map" class="container">
    <p style="width:1500px; height: 750px">This is a map container</p>
</div>

<script type="text/javascript">

    const mymap = new AMap.Map('map',{
        mapStyle: 'amap://styles/dark',
        zoom: 4.5,
        center: [-100,40],

    })

    const mylayer = new Loca.PointLayer({
        map: mymap,
        eventSupport:true
    })

    mylayer.setData(mydata,{
        type: 'json',
        lnglat:function(obj){
            return [obj.value.attributes.Long_, obj.value.attributes.Lat]
        }
    })

    mylayer.setOptions({
        unit: 'px',
        style: {
            radius:(obj)=>{
                const num = obj.value.attributes.Confirmed;
                if(num >= 100000) return 30;
                if(num>= 50000) return 25;
                if(num>= 10000) return 20;
                if(num>= 5000) return 15;
                if(num>= 1000) return 10;
                else return 5;
            },
            color:(obj)=>{
                const num = obj.value.attributes.Confirmed;
                if(num >= 100000) return '#ff0000';
                if(num>= 50000) return '#ff7700';
                if(num>= 10000) return '#ff8800';
                if(num>= 5000) return '#ff8800';
                if(num>= 1000) return '#ffaa00';
                else return '#ffaa00';
            }
        },
        borderWidth: 0.5,
        borderColor: '#0000ff'
    })

    mylayer.render();

</script>
</body>
</html>
