extends default

block content

    div.main
        div
            h3 Country Add Form
            form(method='POST' action='/country-management')
                div
                    label(for='id') ID:
                    input(type='text', placeholder='id' name='id' id='id' value="")
                div
                    label(for='country_name') Country Name:
                    input(type='text', placeholder='enter name' name='country_name' id='country_name' value="")
                div
                    label(for='confirmed_case') Confirmed Case Num:
                    input(type='text', placeholder='enter number' name='confirmed_case' id='confirmed_case' value="")
                button(type='submit') Add

        div
            h3 Country Update Form
            center
                table
                    tr
                        th ID
                        th Country Name
                        th Confirmed Case Num

                        each country in countries
                            tr
                                td
                                    a(href='/country-management/' + country.id) #{country.id}
                                td #{country.country_name}
                                td #{country.confirmed_case}


