doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/stylesheets/countryPage.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body

        <div class="grid-container">
        div.header #{title}
        div.menu

            // display home page
            // route to open the Country Add Form
            a(href='/') Home
            br

            // link to the route used to display map
            // in the database
            a(href='/country') World Map
            br


            a(href='/comment') User comment
            br


        block content

