doctype html
head
    meta(http-equiv='content-type', content='text/html;charset=UTF-8')
    title Coronavirus defenders
    h1 Coronavirus defenders
#messageList
    ul
        li
            a(href='login') Login
        li
            a(href='comment') User Comment
        li
            a(href='country') World map
        li
            a(href='country-management') World status
        li
            a(href='information') News &amp; Information