<!DOCTYPE html>
<div id="information">
    <h1>News and Information</h1>
    <ul>
        <li><a class="selected" href="/">Home</a></li>
        <h2>How long do coronaviruses persist?</h2>
        <section class="information">
            <article class="news"><a class="news-img" href="#non"><img src="http://img17.3lian.com/d/file/201702/24/d32304868431263bad442a9ddac5bfbf.jpg" alt="" width="50" height="50"></a>
                <div class="information-body">
                    <div class="text">
                        <p>Coronaviruses can remain infectious on inanimate surfaces at room temperature for up to 9 days. At a temperature of 30&deg;C [86&deg;F] or more, the duration of persistence is shorter.</p>
                    </div>
                    <p class="attribution">published on 20th Mar 2020</p>
                </div>
            </article>
        </section>
        <h2>What is coronavirus?</h2>
        <section class="information">
            <article class="news"><a class="news-img" href="#non"><img src="http://img17.3lian.com/d/file/201702/24/d32304868431263bad442a9ddac5bfbf.jpg" alt="" width="50" height="50"></a>
                <div class="information-body">
                    <div class="text"></div>
                    <p>COVID-19 actually belongs to a family of coronaviruses (CoV), which include Middle East Respiratory Syndrome (MERS-CoV) and Severe Acute Respiratory Syndrome (SARS-CoV). According to the World Health Organization, CoVs can afflict
                        you with something as mild as the common cold or something as deadly as SARS. The virus affecting people now is what&rsquo;s called a novel coronavirus (nCoV) because it&apos;s the first time this particular strain is being seen
                        in humans.</p>
                    <p class="attribution">published on 23th Apr 2020</p>
                </div>
            </article>
        </section>
        <h2>Protective measures for Coronavirus</h2>
        <section class="information">
            <article class="news"><a class="news-img" href="#non"><img src="http://img17.3lian.com/d/file/201702/24/d32304868431263bad442a9ddac5bfbf.jpg" alt="" width="50" height="50"></a>
                <div class="information-body">
                    <div class="text">
                        <p>1) Avoiding close contact with people suffering from acute respiratory infections.</p>
                        <p>2) Frequent hand washing, especially after direct contact with sick people or at their residence.</p>
                        <p>3) Avoid touching the face and covering the mouth and nose with handkerchief, sleeves or forearms during coughing and sneezing. Dispose of used handkerchief in the nearest waste bin.</p>
                        <p>4) If you have a fever, cough and difficulty breathing seek medical help immediately and tell the eventual story of traveling abroad.</p>
                        <p> 5) Sick people should stay home to prevent the spread of the disease.</p>
                        <p> 6) Use health services wisely.</p>
                    </div>
                    <p class="attribution">published on 17th Mar 2020</p>
                </div>
            </article>
        </section>

            <h2>For information on the diagnosis and treatment of new coronavirus, you could visit</h2>
            <p>
                1)	WHO Report (Report of the WHO-China Joint Mission on Coronavirus Disease 2019 (COVID-19)) <br>
                2)	The New England Journal of Medicine
            </p>
        </ul>
    </div>
<footer>Copyright & 16/5/2020</footer>
