<!doctype html>
<html lang="en">
    <body>
    <div id="information">
        <h1>News and Information</h1>
        <ul>
            <li> <a class="selected" href='/'>Home</a></li>

            <h2>Basic knowledge for Coronavirus</h2>
            <p>
                1)  COVID-19 actually belongs to a family of coronaviruses (CoV), which include Middle East Respiratory Syndrome (MERS-CoV) <br>
                and Severe Acute Respiratory Syndrome (SARS-CoV). According to the World Health Organization, CoVs can afflict you with <br>
                something as mild as the common cold or something as deadly as SARS. The virus affecting people now is what’s called a <br>
                novel coronavirus (nCoV) because it's the first time this particular strain is being seen in humans.
            </p>
            <p>
                2)  Coronaviruses can remain infectious on inanimate surfaces at room temperature for up to 9 days. <br>
                At a temperature of 30°C [86°F] or more, the duration of persistence is shorter.
            </p>

            <h2>Protective measures for Coronavirus</h2>
            <p>
                1)	Avoiding close contact with people suffering from acute respiratory infections. <br>
                2)	Frequent hand washing, especially after direct contact with sick people or at their residence. <br>
                3)	Avoid touching the face and covering the mouth and nose with handkerchief, sleeves or forearms during coughing and sneezing. Dispose of used handkerchief in the nearest waste bin.  <br>
                4)	If you have a fever, cough and difficulty breathing seek medical help immediately and tell the eventual story of traveling abroad. <br>
                5)	Sick people should stay home to prevent the spread of the disease. <br>
                6)	Use health services wisely.
            </p>

            <h2>For information on the diagnosis and treatment of new coronavirus, you could visit</h2>
            <p>
                1)	WHO Report (Report of the WHO-China Joint Mission on Coronavirus Disease 2019 (COVID-19)) <br>
                2)	The New England Journal of Medicine
            </p>
        </ul>

    </body>
</html>