body {
    margin: 20px auto;
    font: 16px/1.4 Arial, sans-serif;
    background: #f3eee9;
}

h1 {
    margin: 0;
    background-color: #f3eee9;
    color: black;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

h2, h3 {
    margin: 0;
    background-color: #f3eee9;
    color: black;
    text-align: left;
    padding: 10px 10px 10px 10px;
}

.news {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    *zoom: 1;
}

.news-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

.news-img img {
    display: block;
}

.news .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}

.news .text p:last-child {
    margin: 0;
}

.news .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.footer {
    text-align: center;
    background-color: #F5CBA7  ;
    color: black;
}
