doctype html
head
    meta(charset='UTF-8')
    title Coronavirus defenders
    link(rel='stylesheet', href='/stylesheets/loginPage.css')
header
    div.main
        ul
            li
                a(href='/') Home Page
            li.active
                a(href='login') Login Here
            li
                a(href='register') Register Here
            li
                a(href='comment') User Comment
            li
                a(href='information') News &amp; Information

.login-box
    form(action='/login', method='post')
        h1 Login
        .textbox
            input.form-control(name='username', type='text', placeholder='Username', value='')
        .textbox
            input.form-control(name='password' type='password', placeholder='Password', value='')
        input.btn(type='submit', name='', value='Sign in')