doctype html
head
    meta(http-equiv='content-type', content='text/html;charset=UTF-8')
    title Login ERROR : Incorrect User Name/Password
    h1 Click the links below to go back
#messageList
    ul
        li
            a(href='login') Login Here
        li
            a(href='register') Register Here
        li
            a(href='comment') User Comment
        li
            a(href='country') World map
        li
            a(href='country-management') World status
        li
            a(href='information') News &amp; Information