doctype html
head
    meta(charset='UTF-8')
    title Coronavirus defenders
    style
        include loginPage.css
    link(rel='stylesheet', href='loginPage.css')
.login-box
    form(action='/login', method='post')
        h1 Login
        .textbox
            input.form-control(name='username', type='text', placeholder='Username', value='')
        .textbox
            input.form-control(name='password' type='password', placeholder='Password', value='')
        input.btn(type='submit', name='', value='Sign in')