doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1.0, user-scalable=no')
    script(src='mapdata.js')
    script(src='InfoWin.js')
    title World Map
header
    .main
        ul
            li
                a(href='/') Home Page
            li
                a(href='login') Login Here
            li
                a(href='register') Register Here
            li
                a(href='comment') User Comment
            li
                a(href='information') News &amp; Information
    script(type='text/javascript' src='https://webapi.amap.com/maps?v=1.4.15&key=cc9b5116b54c2be17a209bf1b0fbacea')
    script(type='text/javascript' src='https://webapi.amap.com/loca?v=1.3.2&key=cc9b5116b54c2be17a209bf1b0fbacea')
    h1 World Status and Epidemic Map
    .grid-container
        .details
            h2 World Status
            p
                | We provide epidemic data of all countries and regions in the world here.
                | If you want to visit, please click &quot;World Status&quot; below
                br
            ul.status
                li
                    a(href='country-management') World status
            p
            br
            br
            br
            br
            h2 Epidemic Map
            p Here is the epidemic map for COVID-19 around the world.
            p
                | We have provided data on all influenced countries with the severe coronavirus outbreaks in the world .
                | Additionally, we have marked the difference with colours for distinct levels of severity.
                | (e.g. total number of cumulative confirmed cases <40,000 will be marked as yellow,
                | >1,000,000 will be marked as red)
            p
                | You can scroll the mouse to enlarge or reduce the map,
                | or you can drag the mouse and click the point on the country/city you would like to view
        #map.container
            p(style='width: 1024px; height: 720px') This is a map container

    script(type='text/javascript').
        const mymap = new AMap.Map('map',{
            zoom: 4.5,
            center: [-100,40],
            lang:'en'
        })
        const mylayer = new Loca.PointLayer({
            map: mymap,
            eventSupport:true
        })
        mylayer.setData(mydata,{
            type: 'json',
            lnglat:function(obj){
                return [obj.value.longitude, obj.value.latitude]
            }
        })
        mylayer.setOptions({
            unit: 'px',
            style: {
                radius:function(obj){
                    const num = obj.value.confirmed_cases;
                    if(num >= 1000000) return 30;
                    if(num>= 100000) return 30;
                    if(num>= 70000) return 20;
                    if(num>= 50000) return 20;
                    if(num>= 30000) return 10;
                    else return 10;
                },
                color:function(obj){
                    const num = obj.value.confirmed_cases;
                    if(num >= 1000000) return '#ff0000';
                    if(num>= 100000) return '#ff0000';
                    if(num>= 50000) return '#ff8800';
                    if(num>= 40000) return '#ff8800';
                    if(num>= 30000) return '#ffaa00';
                    else return '#ffaa00';
                }
            },
            borderWidth: 0.5,
            borderColor: '#0000ff'
        })
        mylayer.render();
        //step5
        mylayer.on('click',function(ev){
            const rawData = ev.rawData;
            console.log(rawData);
            const originalEvent = ev.originalEvent;
            openInfoWin(mymap,originalEvent,{
                "Country Name":rawData.country,
                "Confirmed Case":rawData.confirmed_cases,
                "Location":ev.lnglat
            })
        })
        //step6
        mymap.on('click',function(ev){
            closeInfoWin();
        })
    #footer
        p Copyright &copy; 4/6/2020
