.header { grid-area: header; font-size: 60px; font-weight: bold }
.menu { grid-area: menu; }
.main { grid-area: main; }

*{
    font-family: Century Gothic, sans-serif;
}

.content{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width:400px;
}

.content th{
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.content th,
.content td{
    padding: 12px 15px;
}

.content tr.tbody{
    text-align: center;
    border-bottom: 1px solid #aaaaaa;
    background-color: rgba(255,255,255,0.7);
}
.content tr.tbody:nth-of-type(even){
    background-color: rgba(255,255,255,0.4);
}
.content tr.tbody:last-of-type{
    border-bottom: 2px solid #009879;
}


.grid-container {
    display: grid;
    grid-template-areas:
            /*'header header header header header header'*/
            /*'menu main main rignt right right';*/
            'menu menu menu menu menu menu'
            'header main main rignt right right';
    grid-gap: 10px;
    background-color: #ffffff;

    text-align: center;
}

.grid-container > div {
    background-image: url(2.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

ul{
    font-size: 20px;
    float: right;
    list-style-type: none;
    margin-top: 25px;
    font-weight: bold;
}

ul li{
    display:inline-block;
    /*display: block;*/
    /*margin-bottom: 50px;*/
}

ul li a{

    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border: 1px solid #000

}

ul li a:hover{
    background-color: #000;
    color: #fff;
}



