.details { grid-area: details;}
.container { grid-area: container; }
.input-card{ grid-area: input-card; }


*{
    font-family: Century Gothic, sans-serif;
}

.h1{
    font-size: 50px;
    text-align: center;
    white-space:nowrap;
}


.grid-container {
    display: grid;
    grid-template-areas:
            'container container input-card'
            'container container details'
            'container container details';
    grid-gap: 20px;
}
.input-card{
    text-align: center;
}

.details{
    border: black 5px;
    width: 470px;
    height: 600px;
    float: right;
}

.details h2{
    text-align: center;
}
ul.status{
    text-align: center;
    list-style-type:none;
}

.container{
    width:100%;
    height:80%;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul.status{
    float: left;
}

ul li{
    display:inline-block;
}

ul li a{
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border: 1px solid #000

}

ul li a:hover{
    background-color: #000;
    color: #fff;
}

ul li.active a{
    background-color: #000;
    color: #fff;
}


.info{
    background-color: rgba(0,0,0,0.5);
    white-space:nowrap;
    color: white;
    padding: 10px;
    border-radius: 5px;
}


