<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Coronavirus defenders</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<h1>Coronavirus defenders</h1>
<body>
<div class="login-box">
    <h1>Login</h1>
    <div class="textbox">
        <input type="text" placeholder="Username" name="" value="">
    </div>

    <div class="textbox">
        <input type="password" placeholder="Password" name="" value="">
    </div>
    <input class="btn" type="button" name="" value="Sign in">
</div>
</body>
</html>